.register-container {
  width: 100%;
  height: 100vh;
  background-color: #e3d095;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-page {
  width: 100%;
  max-width: 70%;
  padding: 3rem;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: white;
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  gap: 2em;
}

.register-left {
  width: 50%;
  height: 100%;
  padding: 1em;
  border: 1px solid;
  border-radius: 10px;
}

.register-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
  justify-content: space-between;
}

.register-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.register-content > h2 {
  font-size: 3em;
  color: #c86c04;
}

.register-content-input-fields {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 1em;
  width: 70%;
}

.register-input {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#input-email-register,
#input-password-register,
#input-fullname-register,
#input-phonenumber-register,
#input-confirmpassword-register {
  padding: 1em 1.5em;
  border-radius: 12px;
  background-color: #eeeeee;
  border: 0.5px solid #b2c6d5;
  color: black;
}

.register-content-buttons {
  margin-top: 2em;
  width: 70%;
}

.register-content-buttons > button {
  width: 100%;
  padding: 1em 3em;
  border-radius: 10px;
  background-color: #c86c04;
  color: white;
}
