.services-page-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: sans-serif;
}

.services-page-poster {
  background-color: #e6e6e6;
  text-align: center;
  padding: 4em;
}

.services-page-poster > h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 2;
}

.services-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3em;
}

.services-search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background-color: #1e1e2f;
  border-radius: 8px;
  overflow: hidden;
}

.services-search-bar > input {
  padding: 1.2em 1.5em;
  font-size: 16px;
  width: 400px;
  box-shadow: 0 0 10px 20px solid rgba(0, 0, 0, 0.1);
}

.services-search-bar > button {
  background: transparent;
  color: white;
  padding: 1em 2.5em;
  border: none;
  cursor: pointer;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4em;
  width: 100%;
}

.service-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-placeholder {
  background-color: #d9d9d9;
  height: 120px;
}

.card-body {
  background-color: #8b2c04;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  padding: 1.5em;
}

.card-body h4 {
  margin-bottom: 12px;
  font-size: 1.5em;
  text-align: center;
}

.card-body button {
  background-color: orange;
  border: none;
  padding: 1em 4em;
  color: #222;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}

.card-body button:hover {
  background-color: #ffa500;
}
