.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0b2b;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.profile-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notif {
  font-size: 18px;
}

.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.section {
  padding: 20px;
}

.card-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card,
.kategori-card,
.rekomendasi-box {
  background-color: #f1f1f1;
  height: 100px;
  width: 100px;
  border-radius: 8px;
}
